* {
  margin:0px;
  padding:0px;
}

.title{
  text-align: center;
  margin: 10px 0px 0px 0px;
  font-size: 60px;


}
.problemheader{
  margin: 0px 0px 0px 150px;
  font-weight: bold;
  color: navy;
}
.problemtext{

  border: 2px solid;
  margin: 10px 140px 0px 140px;
  padding: 5px 0px 5px 5px;
}
.answercontent{
  margin: 20px 0px 0px 150px;

}

.answer{
  font-weight: bold;
  color: navy;
}
.checkbutton{
 font-size: 50px;

}
.output{
  margin: 20px 0px 0px 0px;
  font-size: 20px;
  display: inline;
  padding-left: 10px;
}
